# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
staticfiles/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
front_web/dist/
front_web/build/

# Git
.git/
.gitignore

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db